@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Share+Tech&display=swap');

/**/
* {
    margin: 0;
    padding: 0;
    border: none;
}

/**/
body {
    font-size: 130%;
    font-family: 'Share Tech', sans-serif;
    font-weight: 300;
    background-color: #eca506;
}

/**/
p {
    font-family: 'Roboto', sans-serif;
}

/* navigation menu style */
#menu {
    text-align: center;
    letter-spacing: 2px;
    padding: 15px;
}

#menu li {
    display: inline;
    padding: 30px;
    list-style: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

/* style for hero-image */
#hero-image {
    background: url('../images/hero-image.jpg') no-repeat center;
    background-size: cover;
    height: 430px;
    width: 100%;
}

#logo {
    padding: 5px;
    
}

/* styling for divs */
#about, #basics, #block-chain {
    background-color: #eca506;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    border: solid #000000 5px;
    display: inline-block;
}

/* styling for div */
#transactions {
    background-color: #eca506;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    border: solid #000000 5px;
    border-bottom: solid #000000 10px;
    display: inline-block;
}

/* styling for images*/
#about img, #block-chain img {
    width: 40%;
    height: auto;
    float: right;
    display: inline;
}

#basics img, #transactions img {
    width: 40%;
    height: auto;
    float: left;
    display: inline;
}

footer {
    height: 150px;     
}

.social-networks {
    text-align: center; 
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 250%;
    margin: 1%;
    padding: 5%;
    color: #000000;
}

/* contact form input styling */
input[type=text], input[type=email], input[type=tel], input[type=submit] {
    width: 30%;
    padding: 8px 8px;
    margin: 8px 0;
    box-sizing: border-box;
}


#section-form {
    margin-top: 20px;
}

/* div styling for contact form */
#form-style {
    border: 10px solid #000000;
    max-width: 700px;
    margin: auto;
    text-align: center;
}

label {
    display: inline-block;
    clear: left;
    width: 100px;
}

input[type=submit] {
    text-decoration: none;
    font-weight: 700;
    margin-left: 15%;
}

/* For small screeen sizes 641px wide and down */

@media screen and (max-width: 641px) {

#logo {
    padding: 3px;
    font-size: 150%;       
}

#menu li {
    display: inline-block;
    padding: 10px;
    list-style: none;
}

#hero-image {
    background: url('../images/hero-image.jpg') no-repeat center;
    background-size: cover;
    height: 250px;
    width: 100%;
}

body {
    font-size: 90%;
    font-family: 'Share Tech', sans-serif;
    font-weight: 600;
    background-color: #eca506;
}

.social-networks {
    text-align: center; 
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 210%;
    margin: 1%;
    padding: 5%;
    color: #000000;
}
}

