@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Share+Tech&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Share Tech', sans-serif;
    font-weight: 300;
    background-color: white;
}

p {
    font-family: 'Roboto', sans-serif;
}

#menu {
    text-align: center;
    list-style: none;
    float: right;
}

li {
    display: inline;
}


#hero-image {
    background: url('../images/hero-image.jpg') no-repeat center;
    background-size: cover;
    height: 430px;
    width: 100%;
}

#logo {
    padding: 5px;
    
}

#about {
    background-color: #965215;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    border: solid white 5px;
    display: inline-block;
}

#about img {
    width: 40%;
    height: auto;
    float: right;
    display: inline;
}

#basics {
    background-color: tomato;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    border: solid black 10px;
    display: inline-block;
}

#basics img {
    width: 40%;
    height: auto;
    float: left;
    display: inline;
}

#block-chain {
    background-color: tomato;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    border: solid black 10px;
    display: inline-block;
}

#block-chain img {
    width: 40%;
    height: auto;
    float: right;
    display: inline;
}

#transactions {
    background-color: tomato;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    border: solid black 10px;
    display: inline-block;
}

#transactions img {
    width: 40%;
    height: auto;
    float: left;
    display: inline;
}